[*.cs]

# CS8618: Un champ non-nullable doit contenir une valeur non-null lors de la fermeture du constructeur. Envisagez de déclarer le champ comme nullable.
dotnet_diagnostic.CS8618.severity = silent
dotnet_diagnostic.CS8602.severity = silent
